.row-fluid.header
  .span4
    %h1.logo
      = link_to 'Search Flickr.', root_path
  .span8
    = form_tag images_path, method: 'get', class: 'navbar-form header-search' do
      %span
        - if @query.empty?
          = text_field_tag :search, nil, placeholder: 'enter a keyword'
        - else
          = text_field_tag :search, nil, placeholder: params[:search]
      %span
        = submit_tag 'Search', name: nil, class: 'btn btn-success'

