.container-fluid
  = render partial: 'shared/header'
  .row-fluid
    .span12
      %h3
        Search results for
        %b
          = @query
      %span
        = render partial: 'shared/pagination'
  .row-fluid
    - if @results.count > 0
      - @results.each_slice(4) do |group|
        .row-fluid.image-row
          - group.each do |photo|
            .span3.image-tile
              %a{class: 'image-link', href: '#', 'data-mfp-src' => "#{FlickRaw.url_b(photo)}"}
                = image_tag(FlickRaw.url_m(photo), alt: '')
    - else
      .span12
        %p No images were found.
  = render partial: 'shared/pagination'
